/* Reset del CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile Generale */

body {
    width: 512px;
    outline: 1px solid red;
}

/* background */

.bg-primario{
   background-color: #191d7b;
}

/* imgs */

.primo-banner{
    position: center;
    width: 100%;
    height: 100%;
}

.img-section{
    position: center;
    width: 100%;
    height: 100%;
    border-radius: 35px;
}
/* card */

.card-section{
    margin: 50px 50px 0 50px;
    padding: 40px 30px 10px 30px;
    text-align: center;
    box-sizing: border-box;
}

.card-section-1{
    margin: 50px;
    border-radius: 35px;
    box-sizing: border-box;
    padding: 70px 40px;
}
/* font */

.mod-h1{
    text-transform: uppercase;
    font-weight: 900;
}

.grassetto-p{
    font-weight: 600;
}

.grassetto-button{
    font-size:large;
}

.font-DM-sans> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

.font-Sigmar {
  font-family: "Sigmar", sans-serif;
  
  font-style: normal;
}

/* utility */

.text-white{
    color: white;
}

.color-section{
    background-color: #5D64D1;
}

/* bottoni */

.button-white{
    padding: 15px 70px;
    width: 100%;
    border-radius: 15px;
    background-color: white;
    margin-bottom: 10px;
    border: none;
    
}

.button-blue{
    padding: 15px 50px;
    width: 100%;
    border-radius: 15px;
    background-color: #5865F2;
    color: white;
    border: none;
}


/* bottoni */
