/* Reset del CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile Generale */

body {
    width: 512px;
    outline: 1px solid red;
}

.bg-primario{
   background-color: #191d7b;
}

.primo-banner{
    position: center;
    width: 100%;
    height: 100%;
}